
<!DOCTYPE html>

{% load static %}
<html lang="pt-br">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sobre - Eder Magalhaes</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{% static 'css/fontEstilo.css' %}" rel="stylesheet">
  <link href="{% static 'css/fontEstilo2.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/css/devicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/css/simple-line-icons.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Eder Magalhaes</span>
    <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'imgs/eder.png' %}" alt="">
        </span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#about">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#experience">Experiência</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#education">Formação</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#skills">Artigos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#interests">Publicações</a>
      </li>
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="#awards">Eventos</a>
      </li>
       <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="{% url 'home' %}">Inicio</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-0">

  <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
    <div class="my-auto">
      <h1 class="mb-0">Eder
        <span class="text-primary">Magalhaes</span>
      </h1>
      <div class="subheading mb-5">Belo Horizonte-MG CEP: 30.345-879 (31) 99785-8468 ·
        <a href="mailto:name@email.com">eder.magalhaes@hotmail.com</a>
      </div>
      <p class="mb-5">Eu tenho experiência em alavancar processos produtivos em empresas de maneira ágil e eficaz.
        fornecendo um trabalho robusto para melhorar o trabalho do grupo, visões gerais de alto nível.
        Abordagens iterativas à estratégia corporativa promovem o pensamento colaborativo para promover a proposta de valor geral.</p>
      <ul class="list-inline list-social-icons mb-0">
        <li class="list-inline-item">
          <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
          </a>
        </li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
    <div class="my-auto">
      <h2 class="mb-5">Experiencia</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Formado em Psicologia pela UFMG</h3>
          <div class="subheading mb-3">Soluções Eficientes</div>
          <p>A grandeza vem não quando as coisas sempre vão bem para você, mas a grandeza
            vem quando você é realmente testado, quando você sofre alguns golpes,
            algumas decepções, quando a tristeza chega. Porque apenas se você esteve
            nos mais profundos vales você poderá um dia saber o quão magnífico é
            se estar no topo da mais alta montanha..</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Maço 2013 - Presente</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Treinamento de Equipes</h3>
          <div class="subheading mb-3">Banco do Brasil</div>
          <p>Cada vez que você é honesto e conduz a si próprio com honestidade, uma força de prosperidade
            impulsionará você em direção a um grande sucesso.
            Cada vez que você mente, mesmo uma pequena mentira inofensiva, existem fortes forças
            empurrando você em direção ao fracasso.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Dezembro  2011 - Abril 2012</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Psicologia Aplicada</h3>
          <div class="subheading mb-3">Instituto do Sono</div>
          <p>Faça o que for necessário para ser feliz. Mas não se esqueça que a
            felicidade é um sentimento simples, você pode encontrá-la e deixá-la ir
            embora por não perceber sua simplicidade.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Julho 2000 - Dezembro 2015</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Psicologia Aplicada</h3>
          <div class="subheading mb-3">Instituto do Sono</div>
          <p>Faça o que for necessário para ser feliz. Mas não se esqueça que a
            felicidade é um sentimento simples, você pode encontrá-la e deixá-la ir
            embora por não perceber sua simplicidade.</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Julho 2000 - Dezembro 2015</span>
        </div>
      </div>

    </div>

  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
    <div class="my-auto">
      <h2 class="mb-5">Formacão</h2>

      <div class="resume-item d-flex flex-column flex-md-row mb-5">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Universidade Federal de Minas Gerais</h3>
          <div class="subheading mb-3">Bacharelado em Psicologia</div>
          <div>Psicologia Aplicada </div>
          <p>Bacharel</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Fevereiro 1997 - maio 2001</span>
        </div>
      </div>

      <div class="resume-item d-flex flex-column flex-md-row">
        <div class="resume-content mr-auto">
          <h3 class="mb-0">Colégio Pitagoras</h3>
          <div class="subheading mb-3">Sistema Piscomotor</div>
          <p>SP</p>
        </div>
        <div class="resume-date text-md-right">
          <span class="text-primary">Agosto 2002 - Maio 2006</span>
        </div>
      </div>

    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
    <div class="my-auto">
      <h2 class="mb-5">Habilidades</h2>

      <div class="subheading mb-3">Palestras &amp; Eventos</div>
      <ul class="list-inline list-icons">

        <li class="list-inline-item">
          <i class="devicons devicons-snow"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-wordpress"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-grunt"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-gulp"></i>
        </li>
        <li class="list-inline-item">
          <i class="devicons devicons-npm"></i>
        </li>
      </ul>

      <div class="subheading mb-3">Trabalho em Equipe</div>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-check"></i>
          Palestras Motivacionais</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Resolução de conflitos empresariais &amp; Domiciliares</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Terapia para equipes</li>
        <li>
          <i class="fa-li fa fa-check"></i>
          Trabalhos com grupos &amp; Casais</li>
      </ul>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
    <div class="my-auto">
      <h2 class="mb-5">Interesses</h2>
      <p>
        Além de ser um pisicologo e palestrante, eu aproveito uma boa parte do meu tempo a família.
        Gostamos de estar juntos e conversar, e sempre que podemos participamos de algum evento juntos.


        .</p>
      <p class="mb-0">E quanto estamos todos em casa, gostamos de nos divertir com coisas simples como ver um filme juntos e
        sempre pararmos para discutir, mesmo o filme nao sendo do agrado de todos.</p>
    </div>
  </section>

  <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
    <div class="my-auto">
      <h2 class="mb-5">Premios  &amp; Certificações</h2>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-award text-warning"></i>
          Membro Federação de Psicologia de Minas Gerais</li>
        <li>
          <i class="fa-li fa fa-award text-warning"></i>
          Especialista em Disturbio do Sono</li> Núcleo de Psicologia de Minas Gerais
        <li>
          <i class="fa-li fa fa-award text-warning"></i>
          1<sup>&ordm;</sup>
          Lugar - Puc - Emerging Tech Competition 2009</li>
        <li>
          <i class="fa-li fa fa-award text-warning"></i>
          1<sup>&ordm;</sup>
          Congresso - Onde?, Quando? Porque?</li>
        <li>
          <i class="fa-li fa fa-award text-warning"></i>
          2<sup>&ordm;</sup>
          Mesa Redonda - A escolha de Sophiar -de William Styron</li>
        <li>
        <li>
          <i class="fa-li fa fa-award text-warning"></i>
          1<sup>&ordm;</sup>
          Lugar - James Buchanan High School - Hackathon 2006</li>
        <li>
          <i class="fa-li fa fa-award text-warning"></i>
          3<sup>&ordm;</sup>
          Lugar - James Buchanan High School - Hackathon 2005</li>
      </ul>
    </div>
  </section>

</div>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/js/jquery.min.js' %}"></script>
<script src="{% static 'vendor/js/bootstrap.bundle.min.js' %}"></script>

<!-- Plugin JavaScript -->
<script src="{% static 'vendor/js/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for this template -->
<script src="{% static 'js/resume.min.js' %}"></script>

</body>

</html>
